.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar {
    min-height: 100px !important
}


.userHome-banner  {
    background-color: #50BBE6;
   

}



.userHome-banner-background{
	width: 400px;

	background-color: #F7F7F7;
	text-align: center;
	margin: 0 auto;


}

.userHome-cards{
	text-align: center;
}

.events-body li{
	  margin-bottom: 80px;
}

.events-body img{
  width: 200px;
  position: absolute;
  right: 0px;
  
  padding: 10px;
}
