.navbar-nav > li > a {
    padding-top:5px !important;
    padding-bottom:5px !important;
}
.navbar {
    min-height:100px !important
}
.card {
    width:40%;
    border:none;
}
.right {
    position: absolute;
    right: 0px;
    padding: 10px;
}

.left {
    position: absolute;
    left: 0px;
    padding: 10px;
    width: 40%;
}