@charset "utf-8";

.forsidelogo {
	width:300px;

}

.goddamnit {
	background-image:url('/images/frontpage.jpg');
}

.justalink {
	color: #4bc2f1;
	margin-top:10px;
}

.justadiv {
	padding:10px;
	margin:10px;
}

.centered {
	text-align:center;
	position:relative;
}

.svgfixer {

	position:static;
}

.padded {
	padding:30px;

	height:400px;
}

.headerlayout {
	padding:10px;
	vertical-align: center;
}

.largebutton {
	margin-top:20px;
	text-align: right;
}
