html,
body,
#root,
#page {
  height: 100%;
  width: 100%;
  background-color: white;
}

.max {
  height: 100%;
  width: 100%;
}

.left {
    float: left;
}

.right {
  float: right;
}

#pageintro {
    padding: 5% !important;
}

#pageintro #intro-text {
    padding: 10%;
    width: 100%;
    max-width: 100% !important;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.9);
    color: black;
}

#case-page {
  height: 100%;
  width: 100%;
  text-align: center;
  color: black;
}

#case-page #info {
    padding-left: 10%;
    padding-right: 10%;
}

#case-page .details {
  left: 0px;
  top: 0px;
  margin-top: 4%;
  width: 60%;
  display: inline-block;
  margin-right: 10px;
  float: left;
}

#case-page #case-picture {
  width: 35%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  top: 0;
  margin-top: 4%;
}

#case-picture:hover {opacity: 0.7;}

/* The Modal (background) */
#case-page .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#case-page .modal-content {
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#case-page #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
#case-page .modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

#case-page @keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
#case-page .close {
  position: absolute;
  right: 0;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#case-page .close:hover,
#case-page .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#case-page #info {
    overflow: auto;
    height: 50%;
}

#case-page #description {
  padding-top: 2%;
}

#case-page #map-spacer {
    height: 70vh;
    width: 100%;
}

/*Responsive case page*/
@media only screen and (max-width: 640px){

    #case-page .details {
       width: 100%;
       margin-right: 0;
       padding: 0;
       float: none;
    }

    #case-page #case-picture {
        margin-bottom: 10%;
    }

    #case-page .modal-content {
        width: 60%;
    }

    #case-page #myModal {
        width: 100%;
    }

    #case-page #info {
        padding: 0;
    }

    #case-page #info .card-body {
        padding: 0;
    }

}

.loading-animation {
  text-align: center;
}

.report-map {
  position: relative !important;
  width: 100% !important;
  height: 300px !important;
}

#employee-edit-page .commune-option:hover{
  cursor: pointer;
}

#login-page .justify-content-center {
    width: 100%;
    margin: 0;
}

@media (max-width: 640px) {

    #login-page .login-title:hover {
        cursor: pointer;
        color: white;
    }

}

#events-page .userHome-event{
    width: 100%;
    padding: 4% 0 4% 0;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: auto;
    grid-template-areas: ". . ." "date info image" ". . .";
    background-color: #fff;
}

@media (max-width: 640px) {

    #events-page .userHome-event {
        grid-template-columns: 30% 70%;
        grid-template-rows: auto auto;
        grid-template-areas: "date image" "info info";
        border-style: solid;
        border-color: gray;
        border-width: 0 0 3px 0;
    }

    #events-page .event-info {
        text-align: center;
    }

}

#events-page .event-date {
    grid-area: date;
    width: 100%;
    padding: 10%;
}

#events-page .event-info {
    grid-area: info;
    width:100%;
    padding: 10%;
}

#events-page .event-image {
    grid-area: image;
    padding: 10%;
}

#register-page {
    width: 100%;
    height: 100%;
    padding: 0% 10%;
    margin: 0;
    color: rgb(50,50,50);
}

#register-page #save {
    width: 100%;
}

#report-page #submit {
    width: 80%;
    height: 60px;
    margin: 5% 10% 0;
}

#user-edit-page {
    width: 100%;
    padding: 5%;
    text-align: center;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas: "user-form user-image";
}

#user-edit-page #main-form {
    grid-area: user-form;
}

#user-edit-page #main-image {
    grid-area: user-image;
}

#user-edit-page #main-image img {
    bottom: 0;
}
