html,
body,
#root,
#page {
  height: 100%;
  width: 100%;
}

#page {
  padding-top: 49px;
}

/* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  width: 100%;
  background-color: #333;
  overflow: hidden;
  z-index: 10;
}

.topnav #logo {
  height: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  height: 50px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav .option:hover {
  background-color: #ddd;
  color: black;
}

.topnav #report {
  background-color: #FD6A02;
  font-weight: bold;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


/* When the screen is less than 900 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: fixed;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#case-page {
  height: 100%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

#case-page #info {

}

#case-page .details {
  left: 0px;
  width: 60%;
  display: inline-block;
  margin-right: 10px;
}

#case-page #case-picture {
  margin-top: 60px;
  width: 35%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#case-picture:hover {opacity: 0.7;}

/* The Modal (background) */
#case-page .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#case-page .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#case-page #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
#case-page .modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

#case-page @keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

#case-page #close-modal{
  z-index: 100;
}

/* The Close Button */
#case-page .close {
  position: absolute;
  right: 0;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#case-page .close:hover,
#case-page .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
#case-page @media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#case-page #description {
  padding-top: 2%;
}

.loading-animation {
  text-align: center;
}

.report-map {
  position: relative !important;
  width: 100% !important;
  height: 300px !important;
}

#employee-edit-page .commune-option:hover{
  cursor: pointer;
}

.max {
  height: 100%;
  width: 100%;
}

.right {
  float: right;
}
