html,
body,
#root,
#page {
  height: 100%;
  width: 100%;
}

#navbar-title:hover {
  cursor: pointer;
}

#case-page {
  height: 100%;
  width: 100%;
  text-align: center;
}

#case-page .info {
  width: 50%;
  float: left;
}

#case-page #picture {
  width: 50%;
}

#case-page #description {
  padding-top: 2%;
}

#case-page h1 {
}
