
.navbar-nav > li > a {
    padding-top:5px !important;
    padding-bottom:5px !important;
}
.navbar {
    min-height:100px !important
}
.card {
    width:40%;
    border:none;
}
.right {
    position: absolute;
    right: 0px;
    padding: 5%;
}

.left {
    position: absolute;
    left: 0px;
    padding: 5%;
    width: 40%;
}

.main-background {
    background-color: #7ad8ff;
    width: 100%;
    height: 100%;
}

.card-background {
    background-color: #7ad8ff;
}

.logo {
    height: 100%;
    width: 25%;
}

.userHome-banner  {
    background-color: #50BBE6;


}



.userHome-banner-background{
	width: 400px;

	background-color: #F7F7F7;
	text-align: center;
	margin: 0 auto;


}

.userHome-cards{
	text-align: center;
}

.events-body li{
	  margin-bottom: 80px;
}

.events-body img{
  width: 200px;
  position: absolute;
  right: 0px;

  padding: 10px;
}

.row {
    height:100%;
    background-color:none;
}

.loginoption1, .loginoption2, .loginoption3 {
    border-radius: 25px;
    border: 1px solid black;
    background-color: #eeeeee;
    width:350px;
    height: inherit;
    text-align:center;
    padding:14px;
    margin:10px;
    box-shadow: 4px 4px 20px #686868;
    cursor: pointer;

}

.loginoption1 img, .loginoption2 img, .loginoption3 img {
    height:300px;
}
/* Optional styling */
summary::-webkit-details-marker {
    color: blue;
}
summary:focus {
    outline-style: none;
}